
.navlink {
  color: white;
  margin: 0 auto;
  font-size: x-large;
  font-family: "Anton", sans-serif;
  text-decoration: none !important;
  width: 100%;
  padding: 15px 40px;
  display: inline-block;
  font-weight: 900;
}

.navlink:hover {
  background-color: var(--nav-dark);
  text-decoration: none;
  color: white;
}

.navlink.active {
  text-decoration: none !important;
  background-color: var(--nav-light);
  color: white;
 }
