.picker {
  & input[type=text] {
    color: var(--text) !important;
  }
  & div {
    color: gray !important;
  }

  & > div > div {
    width: 100% !important;
    max-width: 256px;
  }
}

.error {
  border: 3px solid var(--red);
  border-radius: 5px;
}
