@value show-large-sidebar-pic from "../../sizes.css";

.navlink {
  color: white;
  margin: 0 auto;
  font-size: x-large;
  font-family: "Anton", sans-serif;
  text-decoration: none !important;
  width: 100%;
  display: inline-block;
  font-weight: 900;
  padding: 10px 20px;


  @media show-large-sidebar-pic {
    padding: 15px 40px;
  }
}

.navlink:hover {
  background-color: var(--nav-dark);
  text-decoration: none;
  color: white;
}

.navlink.active {
  text-decoration: none !important;
  background-color: var(--nav-light);
  color: white;
 }
