@value small, medium, large from "../../utils/breakpoints.css";
@value medium-font, large-font, mega-font from "../../utils/text.css";


.root {
  composes: text-column from "../../utils/text.css";
  /*display: flex;
  align-items: center;
  flex-direction: column;*/
}

.wrapper {
  width: 100%;
}

.title {
  composes: jumbo-title from "../../utils/text.css";
}

.subtitle {
  composes: subtitle from "../../utils/text.css";
}

.title-wrapper {
  composes: text-column from "../../utils/text.css";
}

.title-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.card {
  display: flex;
  width: 100%;
  padding: 10px;

  @media medium { width: 50%; }
  @media large { width: 33.3%; }
}

.markdown {
  composes: text-column from "../../utils/text.css";
}
