$font-size: 13px;

$total-row-height: 50px;
$border-height: 1px;
$dow-total-row-height: 25px;
$dow-row-padding: 5px;
$dow-line-height: calc($dow-total-row-height - 2*$dow-row-padding);
$width: 650px;
$time-col-width: 70px;
$dow-col-width: calc(($width - time-col-width)) / 5);
$font-size: 13px;
$back-color: gray;



.schedule {
  width: $width;
  margin: 0 0 40px 0;
  padding: 0;
  font-family: "HelveticaMedium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $font-size;
  line-height: $dow-line-height;
  color: var(--black);
  background-color: white;
}

.schedule-table {
  position: relative;
  margin-top: 20px;

  & table {
    width: $width;
    table-layout: fixed;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 0;
  }

  & td, & th {
    padding: 0;
    box-sizing: border-box;
    line-height: $dow-line-height;
    text-align: left;
    vertical-align: top;
  }

  & thead th {
    width: $dow-col-width;
    padding: $dow-row-padding;
    background: var(--black);
    color: white;
    text-align: center;
    vertical-align: bottom;
    -webkit-print-color-adjust: exact;
    border-radius: 0;
  }

  & thead th.time {
    width: $time-col-width;
  }

  & tbody {
    & td, & th {
      border-bottom: $border-height solid var(--gray);
      border-right: $border-height solid var(--gray);
    }

    & td {
      background: $back-color;
    }

    & th {
      line-height: $total-row-height - $border-height;
      height: $total-row-height - $border-height;
      text-align: center;
      background: var(--black);
      white-space: nowrap;
      border-left: $border-height solid var(--gray);
      font-weight: normal;
    }
  }

  & .course-name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    width: $dow-col-width - 1;
    display: inline-block;
  }

  & .course-text {
    display: table-cell;
    vertical-align: middle;
  }

  /*& .dayM, & .dayT, & .dayW, & .dayR, & .dayF {
    position: absolute;
    width: $dow-col-width + 1;
    top: 0;
    text-align: center;
    box-sizing: border-box;
    display: table;
  }

  @define-mixin dayLeft $day, $index {
    & .day$(day) {
      left: calc(
        $time-col-width
        + $day
        * $dow-col-width
      );
    }
  }
  @mixin dayLeft-left M, 0 {};
  @mixin dayLeft-left T, 1 {};
  @mixin dayLeft-left W, 2 {};
  @mixin dayLeft-left R, 3 {};
  @mixin dayLeft-left F, 4 {};

  @define-mixin color $index, $color {
    & .color$(index) {
      border: $border-height solid $$color;
      background-color: $$color
      color: $text;
    }
  }
  @mixin color 0, deep-orange {}
  @mixin color 1, purple {}
  @mixin color 2, indigo {}
  @mixin color 3, red {}
  @mixin color 4, teal {}
  @mixin color 5, green {}
  @mixin color 6, amber {}*/
}

.schedule-table thead tr > th:first-child {
  border-left: 1px solid #292929;
}

.schedule-table thead tr > th:last-child {
  border-right: 1px solid #292929;
}
