
.topbar {
  width: 100%;
  height: 50px;
  background-color: var(--primary);

  @media(min-width: 624px) {
    width: calc(100% - 250px);
    margin-left: 250px;
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  height: 100%;

  @media(min-width: 624px) {
    display: none;
  }
}

.menu-icon {
  color: white;
  margin-left: 10px;
}
