@value large, medium, small from "../../utils/breakpoints.css";
@value layout-small-side-padding, layout-large-side-padding from "./sizes.css";
@value layout-top-bottom-padding from "./sizes.css";
@value footer-height from "./sizes.css";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: footer-height;
  background-color: var(--light);
  margin-left: calc(-1 * layout-small-side-padding);
  margin-right: calc(-1 * layout-small-side-padding);
  margin-top: calc(2 * layout-small-side-padding);

  /*margin-bottom: calc(-1 * layout-top-bottom-padding);*/

  @media large {
    margin: calc(-1 * layout-large-side-padding);
    margin-top: calc(2 * layout-large-side-padding);
  }
}
