@value large, medium, small from "../../utils/breakpoints.css";
@value layout-small-side-padding, layout-large-side-padding from "./sizes.css";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--light);
  margin: calc(-1 * layout-small-side-padding);
  margin-top: calc(2 * layout-small-side-padding);

  @media large {
    margin: calc(-1 * layout-large-side-padding);
    margin-top: calc(2 * layout-large-side-padding);
  }
}
