@value small, medium, large from "../../utils/breakpoints.css";
@value  sidebar-width, show-sidebar  from "./sizes.css";
@value topbar-height from "./sizes.css";
@value layout-small-side-padding, layout-large-side-padding from "./sizes.css";
@value layout-top-bottom-padding from "./sizes.css";


.main {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100% - topbar-height);
  height: auto;
  background-color: var(--dark);
  color: var(--text);
  right: 0;
  position: absolute;
  padding: layout-top-bottom-padding layout-small-side-padding;

  @media show-sidebar {
    width: calc(100% - sidebar-width);
  }

  @media large {
    padding: layout-top-bottom-padding layout-large-side-padding;
  }

}

.content {
  padding: 20px;
}
