/*@value breakpoints from '../../utils/breakpoints.css';*/
/*@value show-sidebar from brekapoints;*/

.sidebar-wrapper {}

.sidebar {
  background-color: var(--nav-color);
  width: 250px;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  /*height: calc(100% + 25px);*/
  height: 100%;

  @media(min-width: 624px) {
    display: unset;
  }
}

.pic {
  width: 100%;
}

.picwrapper {
  padding: 20px;
}

.hidden .sidebar {
  display: unset;
}

.shading {
  position: fixed;
  left: 250px;
  top: 0;
  background-color: black;
  opacity: 0.75;
  width: calc(100% - 250px);
  height: 100%;
  display: none;
}

.hidden .shading {
  display: unset;
}



