/*@value breakpoints from '../../utils/breakpoints.css';*/
/*@value show-sidebar from brekapoints;*/

.sidebar {
  background-color: var(--nav-color);
  width: 250px;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  /*height: calc(100% + 25px);*/
  height: 100%;

  @media(min-width: 624px) {
    display: unset;
  }
}

.pic {
  width: 100%;
}

.picwrapper {
  padding: 20px;
}

.sidebar.hidden {
  display: unset;
}


