@value topbar-height, sidebar-width, show-sidebar from "../../utils/breakpoints.css";

.topbar {
  width: 100%;
  height: topbar-height;
  background-color: var(--primary);

  @media show-sidebar {
    width: calc(100% - sidebar-width);
    margin-left: sidebar-width;
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  height: 100%;

  @media show-sidebar {
    display: none;
  }
}

.menu-icon {
  color: white;
  margin-left: 10px;
}
