@value width: 400px;
@value height: 300px;

.wrapper {
  width: 100%;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  color: var(--text);
}

.image-wrapper {
  width: 100%;
  max-height: 60%;
  overflow: hidden;
  flex-grow: 0;
}

.image {
  width: 100%;
}

.text-area {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.title {
  font-weight: normal;
  font-size: 24px;
}

.summary {
  font-size: 18px;
}

.hidden {
  display: none;
}
