@value small, medium, large from "../../../utils/breakpoints.css";

.tile {
  background-color: var(--light);
  width: 100%;
  padding: 10px;
  cursor: default;

  @media medium { width: 50%; }
  @media large { width: 33%; }
}

.title {
  font-size: 45px;
  font-weight: bold;
}

.row {
  display: flex;
}

.info {
  margin-bottom: 10px;
  background-color: var(--black);
  margin: 5px -10px;
  padding: 5px 10px;
}

.date {
  margin-right: 20px;
  color: grey;
}

.author {
  font-weight: bold;
}

.summary {
  margin-top: 20px;
}
