@value layout-small-side-padding from "../components/Layout/sizes.css";
@value layout-large-side-padding from "../components/Layout/sizes.css";
@value small, medium, large from "./breakpoints.css";

.markdown {
  display: block;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  word-wrap: break-word;
  background-color: var(--light);
  border-radius: 3px;
  padding: 20px;
  composes: text-margin-column from "./text.css";

  & * {
    box-sizing: border-box;
  }

  & > *:first-child {
    margin-top: 0 !important;
  }

  & > *:last-child {
    margin-bottom: 0 !important;
  }

  & a:active, & a:hover {
    outline: 0;
  }
  & a:hover, & a:focus, & a:active {
    text-decoration: underline;
  }

  & b, & strong {
    font-weight: bold;
  }

  & mark {
    background: #ff0;
    color: var(--text);
    font-style: italic;
    font-weight: bold;
  }

  & sub, & sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  & sup {
    top: -0.5em;
  }
  & sub {
    bottom: -0.25em;
  }

  & h1, & h2, & h3, & h4, & h5, & h6 {
    margin-top: 15px;
    position: relative;
    font-weight: bold;
    color: white;
    &:first-child {
      margin-top: 0;
    }
  }
  & h1 {
    font-size: 5em;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  & h2 {
    font-size: 21px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    line-height: 1.225;
    padding-top: 10px;
    padding-bottom: 5px;

    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  & h3 {
    line-height: 1.43;
    font-size: 1.5em;
    color: gray;
  }
  & h1,
  & h1 + h3 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 30px;
  }

  & h4 {
    font-size: 14px;
  }
  & h5 {
    font-size: 12px;
  }
  & h6 {
    font-size: 11px;
  }

  /*****************************
   * LISTS
   *****************************/
  & ul {
    padding-left: 40px;

    & li {
      list-style-type: disc;
    }
    & ul li { list-style-type: circle; }
  }

  & ol ol,
  & ul ol {
    list-style-type: lower-roman;
  }
  & ul ol ol,
  & ul ul ol,
  & ol ul ol,
  & ol ol ol {
    list-style-type: lower-alpha;
  }
  & ul, & ol {
    padding: 0 0 0 2em;
    margin-top: 0;
    margin-bottom: 0;
  }

  & ul ul,
  & ul ol,
  & ol ol,
  & ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }


  & li > p {
    margin-top: 16px;
    margin-bottom: 0;
  }

  & p, & blockquote, & ul, & ol, & dl, & table {
    margin-top: 0;
    margin-bottom: 16px;
  }


  & img {
    max-width: 100%;
    box-sizing: content-box;
    border: 0;
  }

  /*****************************
   * TABLES
   *****************************/

  & hr {
    box-sizing: content-box;
    height: 0;
  }

  & table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  & td, & th {
    padding: 0;
  }

  & hr {
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;

    height: 4px;
    padding: 0;
    margin: 16px 0;

    &:before, &:after {
      display: table;
      content: " ";
    }

    &:after {
      clear: both;
    }
  }

  & blockquote {
    margin: 0;
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;

    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }

  & table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
    border-color: var(--nav-color);
    border-collapse: collapse;
    border-spacing: 0;

    & hr {
      box-sizing: content-box;
      height: 0;
    }

    & th, & td {
      padding: 6px 13px;
      border: 1px solid var(--nav-color);
    }
    & th {
      font-weight: bold;
      text-align: center;
    }
    & tr {
      background-color: var(--dark);
    }

    & tr:nth-child(2n) {
      background-color: rgba(65, 65, 66, 0.7);
    }
  }

  /*****************************
   * INPUTS
   *****************************/

  & input {
    font: 13px Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: normal;
    color: inherit;
    margin: 0;
  }

  & input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
    margin-right: 5px;
  }
  & input[type='checkbox']:checked {
    background: #abd;
  }
  & input[disabled] {
    cursor: default;
  }

  /*****************************
   * CODE
   *****************************/
  & code {
    background-color: var(--dark);
    padding: 4px;
    margin: 2px;
  }

  & pre {
    background-color: var(--dark);
    margin: 10px;
    padding: 10px;
    overflow: auto;
    max-height: 500px;

    &::-webkit-scrollbar-track {
      background-color: var(--light);
    }
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #151515;
      opacity: 0.6;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-corner {
      background-color: var(--light);
    }

    & code[class] {
      &:after {
       content: attr(class);
       display: block;
       text-align: right;
       font-size: smaller;
       padding-top: 5px;
     }
    }
  }

  /*****************************
   * TEXT
   *****************************/

   & p, & li {
     font-size: 14px;
     @media medium {font-size: 18px; }
     @media large { font-size: 20px; }
   }

}
