.tile {
  composes: tile-base from "./Tile.css";
  background-color: #08147e;
  font-size: 10px;
  color: white;
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
}

.textbox {
  composes: jeopardy-color from "./Tile.css";
  width: 100%;
  color: white;
  font-size: 12px;

  &:focus {
    background-color: var(--primary);
  }
}

.category {
  padding: 10px;
}


@media medium {
  .tile { font-size: 15px; }
  .textbox { font-size: 15px; }
}
@media large {
  .tile { font-size: 20px; }
  .textbox { font-size: 20px; }
}
