@value small, medium, large from "../../../utils/breakpoints.css";

.wrapper {
  composes: text-column from "../../../utils/text.css";
}

.title {
  composes: jumbo-title from "../../../utils/text.css";
}

.subtitle {
  composes: subtitle from "../../../utils/text.css";
  margin-bottom: 50px;
}

.score {
  font-size: 12px;
  margin: 30px 0 100px 0;
}

.final-buttons {
  display: flex;
  margin-top: 10px;
}

.final-Score {
  margin-top: 100px;

  &.hide-final-score {
    display: none;
  }
}

.final-score-value {
  font-size: 20px;
  color: var(--primary);
}

@media medium {
  .score { font-size: 20px; }
  .final-score-value { font-size: 30px; }
}
@media large {
  .score { font-size: 30px; }
  .final-score-value { font-size: 70px; }
}
