.tile {
  background-color: #08147e;
  font-size: 40px;

  & .category {
    font-size: 20px;
  }

  & .correct {
    background-color: var(--green);
  }
  & .incorrect {
    background-color: var(--red);
  }
}
