.jeopardy-color {
  background-color: #08147e;
}

.tile-base {
  composes: jeopardy-color;
  user-select: none;
  cursor: pointer;
  border: 0;
  display: flex;
}

.tile {
  composes: tile-base jeopardy-color;
  font-size: 40px;
  color: #FFC107;
  font-weight: bold;
  padding: 5px;
  justify-content: center;

  &:hover {
    background-color: blue;
  }

  &.correct {
    background-color: var(--green);
    &:hover {
      background-color: green;
    }
  }
  &.incorrect {
    background-color: var(--red);
    &:hover {
      background-color: red;
    }
  }
  &.correct, &.incorrect {
    color: white;
  }
}
