.tile {
  background-color: #08147e;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
  color: var(--amber);
  font-weight: bold;
  padding: 5px;
  display: flex;
  justify-content: center;

  &.correct {
    background-color: var(--green);
  }
  &.incorrect {
    background-color: var(--red);
  }
  &.correct, &.incorrect {
    color: #f2ca51;
  }
}
