@value sidebar-width, show-sidebar, layout-small-side-padding, layout-large-side-padding from "../Layout/sizes.css";
@value small, medium, large from "../../utils/breakpoints.css";

.jumbotron {
  height: 400px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -20px;
  margin-bottom: 40px;
}

.title {
  font-size: 5em;
  font-weight: 900;

  @media medium {
    font-size: 6em;
  }
  @media (min-width: 1200px) {
    font-size: 7em;
    margin-top: -40px;
  }
}

.subtitle {
  font-size: 20px;

  @media medium {
    font-size: 25px;
  }
}

.title, .subtitle {
  color: white;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px;
}
