@value medium, large, sidebar-width, show-sidebar from "../../utils/breakpoints.css";

.jumbotron {
  height: 400px;
  background-color: var(--primary);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin: -20px;
  margin-bottom: 40px;

  @media show-sidebar {
    width: calc(100vw - sidebar-width);
  }
}

.title {
  font-size: 3em;
  font-weighT: 900;

  @media medium {
    font-size: 5em;
  }
}

.subtitle {
  font-size: 25px;
}

.title, .subtitle {
  color: white;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px;
}
