@value sidebar-width, show-sidebar, show-large-sidebar-pic from "../sizes.css";


.sidebar-wrapper {}

.sidebar {
  background-color: var(--nav-color);
  width: sidebar-width;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;

  @media show-sidebar {
    display: unset;
  }
}

.pic {
  width: 50%;

  @media show-large-sidebar-pic {
    width: 100%;
  }
}

.picwrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden .sidebar {
  display: unset;
}

.shading {
  position: fixed;
  left: sidebar-width;
  top: 0;
  background-color: black;
  opacity: 0.75;
  width: calc(100% - sidebar-width);
  height: 100%;
  display: none;
}

.hidden .shading {
  display: unset;
}
